
/* sheard style */

* {
    margin: 0;
    box-sizing: border-box;
}

.text-dark-1 {
    color: #8987A1;
}

.text-color-1 {
    color: #E95A08;
}

.font-size {
    font-size: 1.4rem;
}

.btn-primary {
    background-color: #E95A08;
    color: white;
    padding: 10px 15px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    width: 100%;
}

/* header style */

.header-section {
    max-width: 1380px;
    margin: 0 auto;
    padding: 20px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav-links {
    display: flex;
    gap: 20px;
}


/* hero section style */

.banner-section {
    max-width: 1380px;
    margin: 50px auto;
    padding: 200px 0px 0px 0px;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.banner-title {
    font-size: 3.5rem;
    font-weight: bold;
    color: #000000;

}


.banner-content {
    max-width: 670px;
    margin-top: 100px;
}

.banner-hero-image {
    width: 670px;
    align-items: center;
}

.banner-hero-image img {
    width: 100%;
    height: 100%;
    /* margin-left: 15px; */

}


/* plant section style */

.plant-section {
    max-width: 1380px;
    margin: 0 auto;
    padding: 100px 0;
    width: 100%;
}

.plant-content {
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}

.plant-title {
    font-size: 3.3rem;
    font-weight: bold;
    text-align: center;
}

.plant-description {
    font-size: 1.2rem;
    text-align: center;
    padding: 0 10px;

}

.plant-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    gap: 20px;
    padding: 50px;
}

.plant-card-title,
.plant-price {
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
}


/* plants lover style */


.plants-lover-section {
    max-width: 1140px;
    margin: 0 auto;
    padding: 30px 0px;
    /* border: 1px solid #E95A08; */

}

.plants-lover-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    position: relative;
}

.flower-store-image-content {
    max-width: 570px;
}

.flower-store-image {
    width: 100%;
    height: auto;
}

.flower-store-content {
    width: 520px;
    margin: 30px 0px 30px 60px;
    /* border: 1px solid #E95A08; */
}

.flower-store-title {
    font-size: 3.3rem;
    font-weight: bold;
    color: #000000;

}

.flower-store-description {
    font-size: 1.0rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    width: 680px;
}

.badge {
    width: 250px;
    height: auto;
    position: absolute;
    margin-left: -110px;
    margin-top: -580px;
    /* border: 1px solid red; */
}


.custom-dot-bullets {
  padding-left: 0;
}

.custom-dot-bullets li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.75rem;
}

.custom-dot-bullets li::before {
  content: '';
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #47474779; /* pink-500 */
  border-radius: 50%;
  margin-right: 0.5rem;
  margin-top: 10px;
}
/* latest deal style  */

.latest-deal-container {
    max-width: 1440px;
    margin: 40px auto;
}

.latest-deal-title {
    font-size: 3.2rem;
    font-weight: bold;
    text-align: center;
}

.latest-deal-content {
    width: 100%;

}

.latest-deal-description {
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    /* offer section style */
    .offer-section {
        
        display: flex;
        justify-content: center;
        gap: 30px;
        text-align: center;
    }
    
    .offer-left {
        display: flex;
        flex-direction: column;
        gap: 30px;
   
    }
    .offer-card{
        position: relative;
        border-radius: 10px;
    }
    
    .offer-title {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.434);
        color: white;
        border-radius: 10px;
    }

    .offer-img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .offer-img img {
          border-radius: 10px;
    }

    .offer-title h3 {
        font-size: 20px;
        font-weight: bold;
    }

    .offer-right .offer-title  h3 {
        font-size: 40px;
        font-weight: bold;
    }

    .offer-title p {
        text-decoration: underline;
    }

    .offer-right .offer-title  p {
        font-size: 28px;
        font-family: Inter;
    }
    /* join section style */
    
    /* .subcribe-section{
        background-image: url('./assets/news-letter-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 533px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 100px 0;
    }
    
    .subscribe-title {
        color: white;
        font-size: 68px;
        font-weight: bold;
    }

    .subscribe-form {
        display: flex;
    }

    .subscribe-form input {
        height: 50px;
        background-color: white;
        color: gray;
        width: 500px;
        padding: 0 20px;
        translate: 4px 0;
    }

    .subscribe-form button {
        height: 50px;
        background-color: #E95A08;
        color: white;
        padding: 0 20px;
    } */


    
/* mobaile responsive */

@media screen and (max-width: 576px) {
    

    .navbar-container {
        width: 380px;
        gap: 20px;
        margin-bottom: -50px;
    }

    .nav-logo {
        width: 30%;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
       
    }
    .home,.shope,.about-us {
        display: none;
    }

    /* banner section style */

    .banner-section {
        max-width: 1140px;
        margin: auto;
    }

    .banner-hero-image {
       max-width: 100%;
       margin-top: -120px;
    }

    .banner-title{
        max-width: 350px;
        font-size: 1.5rem;
        margin-top: -50px;
    }

    .banner-description{
        font-size: 0.800rem;
        max-width: 350px;
    }
    .banner-container {
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column-reverse;
        align-items: center;
    }

    /* plants card section */

    .plant-conetnt {
        max-width: 1140px;
    }

    .plant-title {
        width: 100%;
        font-size: 1.5rem;
        text-align: center;

    }

    .plant-description br {
        width: 100%;
        padding: 10px;
        text-align: center;
        font-size: 0.800rem;
        display: none;
        
    }

    .plant-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* flower lover section */

    .plants-lover-section {
        /* border: 1px solid red; */
        width: 360px;
    }

    .flower-store-title {
        font-size: 1.5rem;
        width: 100%;
    }

    .flower-store-description {
        width: 100%;
        font-size: 0.900rem;
    }

    .plants-lover-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .flower-store-content {
        width: 100%;
    }

    .badge {
        display: none;
    }

    /* latsest deal section */
    .latest-deal-container {
        max-width: 388px;
    }


    .offer-left {
        flex-direction: column;
    }

    .offer-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .offer-card {
        max-width: 360px;
    }

    .subcribe-section {
        max-width: 100%;

    }

    .subscribe-form input {
        width: 200px;
    }

    .subscribe-title {
        color: white;
        font-size: 30px;
        font-weight: bold;
    }
}